/* CSS for header */
header {
    background-color: #333;
    padding: 20px;
    color: #fff;
  }
  
  /* CSS for main content */
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
  }
  
  .container h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .container p {
    margin-bottom: 10px;
  }
  
  .container a {
    color: #333;
    text-decoration: none;
  }
  
  .container a:hover {
    text-decoration: underline;
  }
  
  /* CSS for flight form */
  form {
    margin-bottom: 20px;
  }
  
  form label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  form input[type="text"],
  form input[type="date"],
  form select {
    width: 10%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Add this CSS to center-align the form input */
  form input[type="text"],
  form input[type="date"],
  form select {
    margin-left: auto;
    margin-right: auto;
  }
  
  form input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* CSS for form layout */
  .form-row {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
  }
  
  .form-row label {
    flex: 1;
  }
  
  .form-row input,
  .form-row select {
    flex: 2;
    margin-left: 10px;
  }
  
  .form-row:last-child {
    margin-bottom: 0;
  }
  
  /* CSS for search results */
  .main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

.main h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

input[type="checkbox"] {
    margin-right: 5px;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* .b {
  float: right;
  margin-right: 920px;
  max-width: 300px; /* Adjust the width as needed
 } */




 .text-block {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(2, 2, 2);
  margin-left: 190px;
  z-index: 1;
}
.text-block-2 {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(253, 253, 253);
  margin-left: 10px;
  z-index: 1;
}

 .bg-image-1{
  background-image: url('../images/image2.jpg');
  background-size: cover;
  background-position: center;
  height: 600px;
  width: 600px;
  /* flex: auto; */
   margin-right: 120px; 
  float: right;
  animation: bg-image 6s ease-in-out infinite;
  z-index: 0;

}
.bg-image-2 {
  background-image: url("../images/image1.jpg");
  background-size: cover;
  background-position: center;
  height: 600px;
  width: 600px;
  float: right;
 margin-right: 150px; 
  animation: bg-image 7s ease-in-out infinite;
 z-index: 0;
}


.bg-image-1 .text-block {
  left: 15%;
}

.bg-image-2 .text-block {
  left: 50%;
}
@keyframes bg-image {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
  
  /* CSS for footer */
  footer {
    background-color: #333;
    padding: 20px;
    color: #fff;
    text-align: center;
  }
  